* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, a, button {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: .9em;
    color: whitesmoke;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 30px;
    background-color: #262626;
}

p {
    font-family: 'Poppins';
    font-weight: 700;
    color: whitesmoke;
    cursor: pointer;
    margin-right: auto;
}

.list-items {
    list-style: none;
}

.list-items li {
    display: inline-block;
    padding: 1em 20px;
    margin-right: 20px;
}

.list-items li a {
    transition: all .3s ease-in 0s;
}

.list-items li a:hover {
    color: teal;
}

button {
    padding: 9px 25px;
    color: #262626;
    background-color: teal;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: .2s ease-in;
}

button:hover {
    background-color: whitesmoke;
}

.main-content {
    width: 70%;
    height: 72vh;
    margin-top: 3em;
    margin-left: 22em;
    background-color: teal;
}